/* ============================= */
/* BASE LAYOUT */
/* ============================= */

.dashboard-layout { 
  display: flex; 
  background-color: #F8F9FA; 
  min-height: 100vh; 
}

/* ============================= */
/* MAIN CONTENT */
/* ============================= */

.main-content {
  flex: 1;
  padding: 60px 80px;
  box-sizing: border-box;

  margin-left: 260px; /* 🔥 WAJIB biar ga ketutup sidebar */

  display: flex;
  flex-direction: column;

  /* animation: pageEnter 0.4s ease; */
}

/* ============================= */
/* ANIMASI */
/* ============================= */

/* @keyframes pageEnter {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

/* ============================= */
/* TITLE */
/* ============================= */

.page-title { 
  font-size: 32px; 
  font-weight: 800; 
  color: #053B29; 
  margin: 0; 
}

.page-subtitle { 
  font-size: 14px; 
  color: #718096; 
  margin-top: 5px; 
  margin-bottom: 30px; 
}

/* ============================= */
/* CARD */
/* ============================= */

.content-card {
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

/* ============================= */
/* FORM */
/* ============================= */

.form-row { 
  display: flex; 
  gap: 30px; 
  margin-bottom: 25px; 
}

.form-group { 
  flex: 1; 
  position: relative; 
}

.form-group label { 
  display: block; 
  font-weight: 700; 
  color: #053B29; 
  margin-bottom: 10px; 
  font-size: 14px; 
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: white;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #053B29;
  box-shadow: 0 0 0 1px #053B29;
}

/* ============================= */
/* DROPDOWN */
/* ============================= */

.form-group select {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-right: 40px;
}

.dropdown-icon {
  position: absolute;
  right: 15px;
  bottom: 14px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.form-group select:focus + .dropdown-icon {
  transform: rotate(180deg);
}

/* ============================= */
/* BUTTON */
/* ============================= */

.btn-next, 
.btn-submit {
  background-color: #1D4337;
  color: white;
  padding: 14px 80px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit {
  border-radius: 12px;
  padding: 16px 100px;
}

.btn-next:hover, 
.btn-submit:hover {
  background-color: #053B29;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* ============================= */
/* UTIL */
/* ============================= */

.text-right {
  text-align: right;
}