/* index.css */
html {
  /* Membuat transisi scroll halus secara native di browser */
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #ffffff;
}