/* index.css */
html {
  /* Membuat transisi scroll halus secara native di browser */
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #ffffff;
}

/* Navbar container agar sejajar dengan konten */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%; 
}

html {
  scroll-behavior: smooth;
}